In [5]:
import pandas as pd
from pandas import read_csv
filename = "Hotel_Reservations.csv"

In [6]:
df = read_csv(filename, encoding = "ISO-8859-1")

In [7]:
df.shape

(36275, 19)

In [8]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [10]:
df.dtypes

Booking_ID                               object
no_of_adults                              int64
no_of_children                            int64
no_of_weekend_nights                      int64
no_of_week_nights                         int64
type_of_meal_plan                        object
required_car_parking_space                int64
room_type_reserved                       object
lead_time                                 int64
arrival_year                              int64
arrival_month                             int64
arrival_date                              int64
market_segment_type                      object
repeated_guest                            int64
no_of_previous_cancellations              int64
no_of_previous_bookings_not_canceled      int64
avg_price_per_room                      float64
no_of_special_requests                    int64
booking_status                           object
dtype: object

In [11]:
df.count()

Booking_ID                              36275
no_of_adults                            36275
no_of_children                          36275
no_of_weekend_nights                    36275
no_of_week_nights                       36275
type_of_meal_plan                       36275
required_car_parking_space              36275
room_type_reserved                      36275
lead_time                               36275
arrival_year                            36275
arrival_month                           36275
arrival_date                            36275
market_segment_type                     36275
repeated_guest                          36275
no_of_previous_cancellations            36275
no_of_previous_bookings_not_canceled    36275
avg_price_per_room                      36275
no_of_special_requests                  36275
booking_status                          36275
dtype: int64

In [15]:
###Forming Data Groups
#GOAL: Identify group(s) or customer profile(s) that would help predict cancellations

In [14]:
##Set display for viewing
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [16]:
##Group: Cancelled bookings versus Not Cancelled bookings
df.booking_status[df.booking_status=='Not_Canceled'] = 0
df.booking_status[df.booking_status=='Canceled'] = 1
df.head()

/tmp/ipykernel_71/3674792645.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.booking_status[df.booking_status=='Not_Canceled'] = 0
/tmp/ipykernel_71/3674792645.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.booking_status[df.booking_status=='Canceled'] = 1

  Booking_ID  no_of_adults  no_of_children  no_of_weekend_nights  no_of_week_nights type_of_meal_plan  required_car_parking_space room_type_reserved  lead_time  arrival_year  arrival_month  arrival_date market_segment_type  repeated_guest  no_of_previous_cancellations  no_of_previous_bookings_not_canceled  avg_price_per_room  no_of_special_requests booking_status
0   INN00001             2               0                     1                  2       Meal Plan 1                           0        Room_Type 1        224          2017             10             2             Offline               0                             0                                     0               65.00                       0              0
1   INN00002             2               0                     2                  3      Not Selected                           0        Room_Type 1          5          2018             11             6              Online               0                             0                                     0              106.68                       1              0
2   INN00003             1               0                     2                  1       Meal Plan 1                           0        Room_Type 1          1          2018              2            28              Online               0                             0                                     0               60.00                       0              1
3   INN00004             2               0                     0                  2       Meal Plan 1                           0        Room_Type 1        211          2018              5            20              Online               0                             0                                     0              100.00                       0              1
4   INN00005             2               0                     1                  1      Not Selected                           0        Room_Type 1         48          2018              4            11              Online               0                             0                                     0               94.50                       0              1

In [17]:
#Duplicating column
df = df.assign(booking_status_original=df['booking_status'])
df.booking_status_original[df.booking_status_original==0] = 'Not Canceled'
df.booking_status_original[df.booking_status_original==1] = "Canceled"
df.head()

/tmp/ipykernel_71/1382336571.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.booking_status_original[df.booking_status_original==0] = 'Not Canceled'
/tmp/ipykernel_71/1382336571.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.booking_status_original[df.booking_status_original==1] = "Canceled"

  Booking_ID  no_of_adults  no_of_children  no_of_weekend_nights  no_of_week_nights type_of_meal_plan  required_car_parking_space room_type_reserved  lead_time  arrival_year  arrival_month  arrival_date market_segment_type  repeated_guest  no_of_previous_cancellations  no_of_previous_bookings_not_canceled  avg_price_per_room  no_of_special_requests booking_status booking_status_original
0   INN00001             2               0                     1                  2       Meal Plan 1                           0        Room_Type 1        224          2017             10             2             Offline               0                             0                                     0               65.00                       0              0            Not Canceled
1   INN00002             2               0                     2                  3      Not Selected                           0        Room_Type 1          5          2018             11             6              Online               0                             0                                     0              106.68                       1              0            Not Canceled
2   INN00003             1               0                     2                  1       Meal Plan 1                           0        Room_Type 1          1          2018              2            28              Online               0                             0                                     0               60.00                       0              1                Canceled
3   INN00004             2               0                     0                  2       Meal Plan 1                           0        Room_Type 1        211          2018              5            20              Online               0                             0                                     0              100.00                       0              1                Canceled
4   INN00005             2               0                     1                  1      Not Selected                           0        Room_Type 1         48          2018              4            11              Online               0                             0                                     0               94.50                       0              1                Canceled

In [21]:
#Group generation
bookinggroups = df.groupby('booking_status_original')

In [23]:
##Filtering Group: Removing observations that do not have a cancelled booking
canceledbooking = bookinggroups.get_group('Canceled').sort_values('no_of_previous_cancellations', ascending = True)
canceledbooking

      Booking_ID  no_of_adults  no_of_children  no_of_weekend_nights  no_of_week_nights type_of_meal_plan  required_car_parking_space room_type_reserved  lead_time  arrival_year  arrival_month  arrival_date market_segment_type  repeated_guest  no_of_previous_cancellations  no_of_previous_bookings_not_canceled  avg_price_per_room  no_of_special_requests booking_status booking_status_original
2       INN00003             1               0                     2                  1       Meal Plan 1                           0        Room_Type 1          1          2018              2            28              Online               0                             0                                     0               60.00                       0              1                Canceled
24313   INN24314             2               1                     2                  1       Meal Plan 1                           1        Room_Type 1        278          2018              7            23              Online               0                             0                                     0              139.90                       2              1                Canceled
24315   INN24316             2               0                     0                  4       Meal Plan 1                           0        Room_Type 1         79          2018             11            30              Online               0                             0                                     0               88.40                       2              1                Canceled
24320   INN24321             2               0                     0                  3       Meal Plan 1                           0        Room_Type 2        221          2018              8            10              Online               0                             0                                     0               86.75                       0              1                Canceled
24322   INN24323             1               0                     1                  0       Meal Plan 1                           0        Room_Type 1         36          2018             10            16              Online               0                             0                                     0              107.10                       1              1                Canceled
...          ...           ...             ...                   ...                ...               ...                         ...                ...        ...           ...            ...           ...                 ...             ...                           ...                                   ...                 ...                     ...            ...                     ...
11929   INN11930             1               0                     0                  1       Meal Plan 1                           0        Room_Type 1         34          2018              7            19           Corporate               1                             3                                    12               65.00                       0              1                Canceled
16277   INN16278             2               0                     1                  1       Meal Plan 1                           0        Room_Type 1        190          2018              4             9             Offline               1                            13                                     1               70.00                       0              1                Canceled
30833   INN30834             2               0                     1                  1       Meal Plan 1                           0        Room_Type 1        190          2018              4             9             Offline               1                            13                                     1               70.00                       0              1                Canceled
12109   INN12110             2               0                     1                  1       Meal Plan 1                           0        Room_Type 1        190          2018              4             9             Offline               1                            13                                     1               70.00                       0              1                Canceled
12097   INN12098             2               0                     1                  1       Meal Plan 1                           0        Room_Type 1        190          2018              4             9             Offline               1                            13                                     1               70.00                       0              1                Canceled

[11885 rows x 20 columns]

In [25]:
##Sorting and Grouping: Using Market_Segment_type information to aggregate observations, then sorting them with other variables
segmentbooking = canceledbooking.sort_values(by=['market_segment_type'], ascending = [True])
segmentbooking

      Booking_ID  no_of_adults  no_of_children  no_of_weekend_nights  no_of_week_nights type_of_meal_plan  required_car_parking_space room_type_reserved  lead_time  arrival_year  arrival_month  arrival_date market_segment_type  repeated_guest  no_of_previous_cancellations  no_of_previous_bookings_not_canceled  avg_price_per_room  no_of_special_requests booking_status booking_status_original
26774   INN26775             1               0                     1                  3       Meal Plan 1                           0        Room_Type 1          0          2018              6            20            Aviation               0                             0                                     0                95.0                       0              1                Canceled
30745   INN30746             1               0                     0                  1       Meal Plan 1                           0        Room_Type 1          1          2018              5            25            Aviation               0                             0                                     0                95.0                       0              1                Canceled
14704   INN14705             1               0                     2                  6       Meal Plan 1                           0        Room_Type 1          1          2018              4            12            Aviation               0                             0                                     0                95.0                       0              1                Canceled
16730   INN16731             1               0                     0                  1       Meal Plan 1                           0        Room_Type 1          1          2018              4            12            Aviation               0                             0                                     0                95.0                       0              1                Canceled
7800    INN07801             1               0                     0                  2       Meal Plan 1                           0        Room_Type 4          2          2018             11             2            Aviation               0                             0                                     0                94.0                       0              1                Canceled
...          ...           ...             ...                   ...                ...               ...                         ...                ...        ...           ...            ...           ...                 ...             ...                           ...                                   ...                 ...                     ...            ...                     ...
1943    INN01944             2               0                     0                  1       Meal Plan 1                           0        Room_Type 1        443          2018              4            29              Online               0                             0                                     0                65.0                       0              1                Canceled
118     INN00119             2               0                     0                  1       Meal Plan 1                           0        Room_Type 1        443          2018              4            29              Online               0                             0                                     0                65.0                       0              1                Canceled
3746    INN03747             2               0                     0                  1       Meal Plan 1                           0        Room_Type 1        443          2018              4            29              Online               0                             0                                     0                65.0                       0              1                Canceled
3373    INN03374             2               0                     0                  1       Meal Plan 1                           0        Room_Type 1        443          2018              4            29              Online               0                             0                                     0                65.0                       0              1                Canceled
3146    INN03147             2               0                     0                  1       Meal Plan 1                           0        Room_Type 1        443          2018              4            29              Online               0                             0                                     0                65.0                       0              1                Canceled

[11885 rows x 20 columns]

In [29]:
#Creating segment groups
segmentsort = canceledbooking.groupby(['market_segment_type', 'total_nights', 'total_people'])
segmentsummary = segmentsort.mean()
segmentsummary

/tmp/ipykernel_71/3696800871.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  segmentsummary = segmentsort.mean()

                                                  no_of_adults  no_of_children  no_of_weekend_nights  no_of_week_nights  required_car_parking_space  arrival_year  arrival_month  arrival_date  repeated_guest  no_of_previous_cancellations  no_of_previous_bookings_not_canceled  no_of_special_requests
market_segment_type lead_time avg_price_per_room
Aviation            0         95.0                         1.0             0.0              1.000000           3.000000                         0.0        2018.0       6.000000     20.000000             0.0                           0.0                                   0.0                     0.0
                    1         95.0                         1.0             0.0              0.666667           2.666667                         0.0        2018.0       4.333333     16.333333             0.0                           0.0                                   0.0                     0.0
                    2         94.0                         1.0             0.0              0.000000           2.000000                         0.0        2018.0      11.000000      2.000000             0.0                           0.0                                   0.0                     0.0
                              110.0                        1.0             0.0              0.500000           1.000000                         0.0        2018.0       5.000000     20.500000             0.0                           0.0                                   0.0                     0.0
                    3         95.0                         1.0             0.0              0.000000           1.000000                         0.0        2018.0      11.000000     10.000000             0.0                           0.0                                   0.0                     0.0
...                                                        ...             ...                   ...                ...                         ...           ...            ...           ...             ...                           ...                                   ...                     ...
Online              386       115.0                        2.0             0.0              2.000000           0.000000                         0.0        2018.0      10.000000     23.000000             0.0                           0.0                                   0.0                     1.0
                    418       75.0                         2.0             0.0              1.000000           2.000000                         0.0        2018.0       9.000000     26.000000             0.0                           0.0                                   0.0                     0.0
                              107.0                        2.0             0.0              1.000000           2.000000                         0.0        2018.0       9.000000     26.000000             0.0                           0.0                                   0.0                     0.0
                    433       70.0                         2.0             0.0              0.000000           3.000000                         0.0        2018.0       9.000000      8.000000             0.0                           0.0                                   0.0                     0.0
                    443       65.0                         2.0             0.0              0.000000           1.000000                         0.0        2018.0       4.000000     29.000000             0.0                           0.0                                   0.0                     0.0

[6538 rows x 12 columns]

In [ ]:
segmentsorted = segmentsummar

In [32]:
##Generate customer profiles using available market segment types as a basis
#5 types: Aviation, Complementary, Corporate, Offline, Online
Aviation = canceledbooking[(canceledbooking['market_segment_type'] == 'Aviation')]
Complementary = canceledbooking[(canceledbooking['market_segment_type'] == 'Complementary')]
Corporate = canceledbooking[(canceledbooking['market_segment_type'] == 'Corporate')]
Offline = canceledbooking[(canceledbooking['market_segment_type'] == 'Offline')]
Online = canceledbooking[(canceledbooking['market_segment_type'] == 'Online')]

In [33]:
Aviation.describe()

       no_of_adults  no_of_children  no_of_weekend_nights  no_of_week_nights  required_car_parking_space  lead_time  arrival_year  arrival_month  arrival_date  repeated_guest  no_of_previous_cancellations  no_of_previous_bookings_not_canceled  avg_price_per_room  no_of_special_requests
count          37.0            37.0             37.000000          37.000000                        37.0  37.000000          37.0      37.000000     37.000000            37.0                          37.0                                  37.0           37.000000                    37.0
mean            1.0             0.0              2.189189           4.594595                         0.0   7.594595        2018.0       6.621622     14.081081             0.0                           0.0                                   0.0          102.243243                     0.0
std             0.0             0.0              2.183751           4.186350                         0.0   6.179983           0.0       2.487204      8.420802             0.0                           0.0                                   0.0            8.483335                     0.0
min             1.0             0.0              0.000000           0.000000                         0.0   0.000000        2018.0       4.000000      1.000000             0.0                           0.0                                   0.0           79.000000                     0.0
25%             1.0             0.0              0.000000           1.000000                         0.0   3.000000        2018.0       5.000000      9.000000             0.0                           0.0                                   0.0           95.000000                     0.0
50%             1.0             0.0              1.000000           2.000000                         0.0   5.000000        2018.0       5.000000     11.000000             0.0                           0.0                                   0.0          110.000000                     0.0
75%             1.0             0.0              5.000000          10.000000                         0.0  11.000000        2018.0       9.000000     20.000000             0.0                           0.0                                   0.0          110.000000                     0.0
max             1.0             0.0              5.000000          11.000000                         0.0  23.000000        2018.0      11.000000     30.000000             0.0                           0.0                                   0.0          110.000000                     0.0

In [34]:
Complementary.describe()

       no_of_adults  no_of_children  no_of_weekend_nights  no_of_week_nights  required_car_parking_space  lead_time  arrival_year  arrival_month  arrival_date  repeated_guest  no_of_previous_cancellations  no_of_previous_bookings_not_canceled  avg_price_per_room  no_of_special_requests
count           0.0             0.0                   0.0                0.0                         0.0        0.0           0.0            0.0           0.0             0.0                           0.0                                   0.0                 0.0                     0.0
mean            NaN             NaN                   NaN                NaN                         NaN        NaN           NaN            NaN           NaN             NaN                           NaN                                   NaN                 NaN                     NaN
std             NaN             NaN                   NaN                NaN                         NaN        NaN           NaN            NaN           NaN             NaN                           NaN                                   NaN                 NaN                     NaN
min             NaN             NaN                   NaN                NaN                         NaN        NaN           NaN            NaN           NaN             NaN                           NaN                                   NaN                 NaN                     NaN
25%             NaN             NaN                   NaN                NaN                         NaN        NaN           NaN            NaN           NaN             NaN                           NaN                                   NaN                 NaN                     NaN
50%             NaN             NaN                   NaN                NaN                         NaN        NaN           NaN            NaN           NaN             NaN                           NaN                                   NaN                 NaN                     NaN
75%             NaN             NaN                   NaN                NaN                         NaN        NaN           NaN            NaN           NaN             NaN                           NaN                                   NaN                 NaN                     NaN
max             NaN             NaN                   NaN                NaN                         NaN        NaN           NaN            NaN           NaN             NaN                           NaN                                   NaN                 NaN                     NaN

In [35]:
Corporate.describe()

       no_of_adults  no_of_children  no_of_weekend_nights  no_of_week_nights  required_car_parking_space   lead_time  arrival_year  arrival_month  arrival_date  repeated_guest  no_of_previous_cancellations  no_of_previous_bookings_not_canceled  avg_price_per_room  no_of_special_requests
count    220.000000           220.0            220.000000         220.000000                       220.0  220.000000    220.000000     220.000000    220.000000      220.000000                    220.000000                            220.000000          220.000000              220.000000
mean       1.363636             0.0              0.390909           2.195455                         0.0   55.772727   2017.804545       6.627273     18.859091        0.013636                      0.022727                              0.100000           95.499955                0.050000
std        0.500726             0.0              0.861086           1.836459                         0.0   63.572941      0.397455       2.765935      8.414119        0.116240                      0.222956                              0.940708           24.775021                0.218442
min        1.000000             0.0              0.000000           0.000000                         0.0    0.000000   2017.000000       1.000000      1.000000        0.000000                      0.000000                              0.000000           55.000000                0.000000
25%        1.000000             0.0              0.000000           1.000000                         0.0    5.750000   2018.000000       5.000000     14.000000        0.000000                      0.000000                              0.000000           79.000000                0.000000
50%        1.000000             0.0              0.000000           2.000000                         0.0   28.000000   2018.000000       6.000000     18.000000        0.000000                      0.000000                              0.000000          100.000000                0.000000
75%        2.000000             0.0              1.000000           3.000000                         0.0  113.000000   2018.000000       9.000000     25.250000        0.000000                      0.000000                              0.000000          105.000000                0.000000
max        3.000000             0.0              6.000000          17.000000                         0.0  276.000000   2018.000000      11.000000     31.000000        1.000000                      3.000000                             12.000000          205.000000                1.000000

In [36]:
Offline.describe()

       no_of_adults  no_of_children  no_of_weekend_nights  no_of_week_nights  required_car_parking_space   lead_time  arrival_year  arrival_month  arrival_date  repeated_guest  no_of_previous_cancellations  no_of_previous_bookings_not_canceled  avg_price_per_room  no_of_special_requests
count   3153.000000     3153.000000           3153.000000        3153.000000                 3153.000000  3153.00000   3153.000000    3153.000000   3153.000000     3153.000000                   3153.000000                           3153.000000         3153.000000             3153.000000
mean       1.801776        0.007295              0.752299           2.091976                    0.000317   209.70536   2017.868379       7.464637     15.183000        0.001903                      0.017127                              0.001269          100.865994                0.151919
std        0.433053        0.095641              0.804797           1.102507                    0.017809    97.98834      0.338132       2.500908      8.195761        0.043588                      0.463474                              0.035601           27.124273                0.366866
min        1.000000        0.000000              0.000000           0.000000                    0.000000     0.00000   2017.000000       2.000000      1.000000        0.000000                      0.000000                              0.000000           12.000000                0.000000
25%        2.000000        0.000000              0.000000           2.000000                    0.000000   121.00000   2018.000000       6.000000      8.000000        0.000000                      0.000000                              0.000000           85.000000                0.000000
50%        2.000000        0.000000              1.000000           2.000000                    0.000000   211.00000   2018.000000       8.000000     15.000000        0.000000                      0.000000                              0.000000          101.500000                0.000000
75%        2.000000        0.000000              1.000000           3.000000                    0.000000   285.00000   2018.000000      10.000000     21.000000        0.000000                      0.000000                              0.000000          115.000000                0.000000
max        3.000000        2.000000              5.000000          13.000000                    1.000000   443.00000   2018.000000      12.000000     31.000000        1.000000                     13.000000                              1.000000          540.000000                2.000000

In [37]:
Online.describe()

       no_of_adults  no_of_children  no_of_weekend_nights  no_of_week_nights  required_car_parking_space    lead_time  arrival_year  arrival_month  arrival_date  repeated_guest  no_of_previous_cancellations  no_of_previous_bookings_not_canceled  avg_price_per_room  no_of_special_requests
count   8475.000000     8475.000000           8475.000000        8475.000000                 8475.000000  8475.000000   8475.000000    8475.000000   8475.000000     8475.000000                   8475.000000                                8475.0         8475.000000             8475.000000
mean       1.967788        0.171681              0.945015           2.499469                    0.013333   115.731445   2017.940649       7.363304     15.859587        0.000826                      0.000826                                   0.0          114.635785                0.411445
std        0.486083        0.511284              0.938539           1.683359                    0.114704    86.009539      0.236294       2.705216      8.983128        0.028729                      0.028729                                   0.0           33.351081                0.624824
min        0.000000        0.000000              0.000000           0.000000                    0.000000     0.000000   2017.000000       1.000000      1.000000        0.000000                      0.000000                                   0.0            0.000000                0.000000
25%        2.000000        0.000000              0.000000           1.000000                    0.000000    42.000000   2018.000000       5.000000      8.000000        0.000000                      0.000000                                   0.0           90.950000                0.000000
50%        2.000000        0.000000              1.000000           2.000000                    0.000000    99.000000   2018.000000       8.000000     16.000000        0.000000                      0.000000                                   0.0          109.800000                0.000000
75%        2.000000        0.000000              2.000000           3.000000                    0.000000   178.000000   2018.000000      10.000000     24.000000        0.000000                      0.000000                                   0.0          131.900000                1.000000
max        4.000000        9.000000              7.000000          17.000000                    1.000000   443.000000   2018.000000      12.000000     31.000000        1.000000                      1.000000                                   0.0          316.000000                2.000000